.navcolor {background-color: #b61e3e;}
.maincolor {color: #f4f4f4 !important;}



.bg-color {
    background-color: #f9f9f9;
}


.containerH {
    position: relative;
    text-align: center;

}


.bottom-left {
    position: absolute;
    bottom: 180px;
    left: 20%;
}





.fontmain {
    font-family: 'Nunito Sans', sans-serif;

}

.headline {
    font-size: 60px;
}


.subheadline {
    font-size: 40px;
}

.subheadline-small {
    font-size: 30px;
}

.flowingtext {
    font-size: 22px;
}

.flowingtext-small {
    font-size: 16px;

}

.bold {

    font-weight: 600;
}

.nomargin-bottom {

    margin-bottom: 0px !important;
}


.fontcolor-red{
    color:  #b61e3e;
}

.fontcolor-white{
    color: #f4f4f4;
}

.fontcolor-black{
    color: #212121;
}




.gap-top-10 {
    margin-top: 10px;
}

.gap-top-30 {
    margin-top: 30px;
}

.gap-top-60 {
    margin-top: 60px;
}

.gap-top-90 {
    margin-top: 90px;
}

.gap-top-120 {
    margin-top: 120px;
}
.gap-top-240 {
    margin-top: 240px;
}


.card{
    margin-left: 4%;
    margin-right: 4%;
}

.card--cursor {
    cursor: pointer;
}
.toggle-element {
    display: none;
}


#mapid { height: 480px; }




.toggle-content-element {

    cursor: pointer!important;
}


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-72 { font-size: 72px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }



.newsbar {z-index: 1;}

.newsbar__container {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    z-index: 2;
    opacity: 0.7;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #c9c9c9;
}

.newsbar__content {
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

}